
@{
    ViewBag.Title = "Beds";
}

<div class="content">
    <div class="category_image ">
        <div class="category_img w-100">
            <img src="~/Assest/img/InformationImg/Lovely Linen Throw-頁面大圖.jpg"
                 alt="" class="image w-100 ">
        </div>
        <div class="category_content">
            <h4 class="text-center">Beds Designs</h4>
            <a href="~/CreatProductList/Category?type=10">
                <img src="~/Assest/img/InformationImg/Hunker King Bed-頁面大圖.jpg"
                     alt="Bedroom-Beds" class="image w-100">
                <h6>Bedroom-Beds</h6>
            </a>
            <a href="~/CreatProductList/Category?type=11">
                <img src="~/Assest/img/InformationImg/Me Time Twin Bed-頁面大圖.jpg"
                     alt="Kids-Beds" class="image w-100">
                <h6>Kids-Beds</h6>
            </a>
        </div>

    </div>
    <div class="category_menu ">
        <div class="category_menu_content">
            <div class="home_link">
                <a href="#">Home</a>
                <span>| Modern Office Furniture</span>
            </div>
            <h1>Beds</h1>
            <ul>
                <li>
                    @Html.ActionLink("Bedroom-Beds", "Category", "CreatProductList", new { type = 10 }, new { sortOrder = ViewBag.ResetParm })
                </li>
                <li>
                    @Html.ActionLink("Kids-Beds", "Category", "CreatProductList", new { type = 11 }, new { sortOrder = ViewBag.ResetParm })
                </li>
            </ul>
        </div>
    </div>
</div>
@section topCSS{
    <link href="~/Assest/css/Introduction.css" rel="stylesheet" />
    <style>
    </style>
}

